.btn-primary {
    background-color: #046edf;
}

a {
    color: #046edf;
}

.home, .dashboard {
    text-align: center;
    margin: 100px 50px;
}

.dashboard button {
    margin-top: 30px;
}

.login-form {
    margin: 100px 50px;
}
.login-content {
    margin: 20px 0;
}

@media screen and (min-width: 700px) {
    .login-form {
        width: 40vw;
        margin: 100px auto;
    }
    .dashboard button {
        width: 250px;
        margin: 30px auto;
    }
}